@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
    width: 100%;
    height: 100vh;
    background: url("img/akin-cakiner-nkUFXi0JSX8-unsplash.jpg") fixed;
    background-color: #0c2323;
    background-size: cover;
    background-position: center;
    opacity: 0.7;

}
#header{
    padding-top: 2%;
}
.container{
    padding: 10px 10%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav strong span {
    color: #05a3a3;
}

.nav-txt{
    font-size: 230%;
    font-weight: 650;
    color: rgb(255, 253, 253);;
}
.nav-txt:hover{
    transform: scale(1.3);
    transition: 0.5s;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
   color:#fffbfb;
   text-decoration: none;
   font-size: 17px;
   font-weight: 500;
   position: relative;
}
nav ul li a:hover{
    color: #05a3a3;
    transition: 0.5s;
}

nav ul li a::after{ 
    content: ''; 
    width: 0;
    height: 3px;
    color: #05a3a3;
    background: #05a3a3;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover::after{
    color: #05a3a3;
    width: 100%;
    transition: 0.5s;
}

/*about me*/
#about{
    padding: 80px 0px;
    color: #ffffff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}
.about-col1{
    flex-basis: 30%;
}

/* -----about me image----- */
.about-col1 img{
    width: 100%;
    border: 10px solid #ffffff;
  /*  border-bottom: 1px solid #fff;
    border-right: 1px solid #fff; */
    border-radius: 100%;
    height: 300px;
}
.about-col2 {
    flex-basis: 60%;
}
.abouthead{
    text-align: center;
}
.about-col2 p{
    font-size: 16 px;
    text-align: justify;
}

.Sub-heading{
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: 700;
    color: #fff;
}

/* -----------services---------- */
#services{
    padding: 30px 0px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;   
}
.services-list div p{
    font-size: 14px;
}
.services-list div a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
 background: #05a3a3;
 transform: translateY(-10px);
 transition: 0.5s;
}

/* ---------portfolio---------- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px; 
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display:block;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #05a3a3);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
}
.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #05a3a3;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.work:hover .layer{
    height: 100%;
    transition: 0.5s;
}

/* --------button-------- */
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    text-decoration: none;
    border: solid 1px #05a3a3;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
}
.btn:hover{
    background: #05a3a3;
    transition: 0.5s;
}

/* --------contact------ */
#contact {
    text-align: center;
    margin-bottom: 20px;
}
#contact p{
  margin-top: 10px;
}
#contact p i{
    margin-right: 10px;
    font-size: 120%;
    color:#05a3a3;
}

/* ---------footer--------- */
.copyright{
    text-align: center;
    width: 100%;
    background: #262626;
    padding: 10px 0;
    font-weight: 350;
    margin-top: 10px;

}